@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto-Bold;
  src: url(./assets/fonts/Roboto-Bold.woff2);
}
@font-face {
  font-family: Roboto-regular;
  src: url(./assets/fonts/Roboto-Regular.woff2);
}
@font-face {
  font-family: ops;
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.woff2");
}
@font-face {
  font-family: SplineSans;
  src: url(./assets/fonts/SplineSansMono-VariableFont_wght.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
  display: none !important;
}